.grid-container{
		display: grid;
		grid-template-columns: auto ;
		grid-gap: 10px;
  		padding-top: 10px;
  		padding-right: 10px;
  		padding-left: 10px;

	}
	.grid-container > div {
 		background-color: white;
  		text-align: center;
  		padding: 10px;
  		font-size: 30px;
  		
  		border-radius: 16px;
  		box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
  		border-color: black;

  	}

    *
   {
        margin:0;
        padding:0;

   }


   .main-nav
  {
  text-align: center;
  list-style:none;
  margin-top:0px;
  }

  .main-nav li
  {
  display:inline-block;
  }

  .main-nav li a
  {
    color: white;
    text-decoration: none;
    padding: 5px 30px;
    font-family:"Roboto",sans-serif;
    font-size: 30px; 
   }




  
  .main-nav li a:hover
  {
    color: red;
  }
  /*for blue pop up*/
    
  .main-nav 
  {
  
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 50px;
  padding-top: 30px;



  }/*this is for blue inside border pop up*/
  .row
  {
    /*border: 1px solid black;*/
    background-color: rgb(0, 0, 61);
    height: 100px;
    width: 101%;
    margin-top: 0;
    }
  /*for padding inside*/

  .button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 30px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 800px;
  border-radius:16px;